:root {
  background-color: rgb(135, 206, 235);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article {
  padding: 20px;
}
article p:first-child {
  background-color: black;
  color: white;
  padding: 10px;
}
article p:nth-child(2) {
  color: black;
}
article p:last-child {
  color: red;
}
ul {
  margin: 20px;
  padding: 0;
}
ul li {
  list-style: none;
  background-color: gray;
  padding: 10px;
  width: 50%;
}
ul li:nth-child(odd) {
  background-color: white;
}
ul li:first-child,
ul li:last-child {
  font-size: 22px;
}

/* Third-to-last item */
ul li:nth-last-child(3) {
  background-color: pink;
}

